* {
  margin: 0;
  padding: 0;
}

:root {
  --font-lato: 'Lato', sans-serif;
  --bg-green-dark: #015249;
  --bg-green-light: #ace6cc;
  --btn-sm-2-bg: #39B54A;


}

body {
  font-family: var(--font-lato);
}


/* global classes */
.bg-green-dark {
  background-color: var(--bg-green-dark);
}

.bg-green-light {
  background-color: var(--bg-green-light);
  color: var(--bg-green-dark);
}

.main {
  background-color: #F3F3F3;
}

.custom-btn {
  border: none;
  outline: 0;
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 10px;
}

.custom-btn-sm {
  font-size: 14px;
  padding: 8px 28px;
  border-radius: 5px;
}

.btn-sm-1 {
  background-color: var(--bg-green-light);
  color: var(--bg-green-dark);
}

.btn-sm-2 {
  background-color: rgba(216, 0, 0, 0.4);
  color: #D80000;
}
.btn-sm-3{
  background-color: #A5A5AF;
  color: #fff;
}

.btn-main {
  background: linear-gradient(105deg, #57BC90, #004B40);
  color: #fff;
  text-transform: uppercase;
}